@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body {
  color: #000000;
  background-color: #87ade6;
}

main {
  background: #3385ff;;
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
